# La consommation électrique annuelle pour chaque ville

In [170]:
import pandas as pd 
import geopandas as gpd
import folium

In [183]:
base =pd.read_csv('./consommation_electrique/conso_electrique.csv', sep = ';')
base

/tmp/ipykernel_19509/3003757259.py:1: DtypeWarning: Columns (3,5,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  base =pd.read_csv('./consommation_electrique/conso_electrique.csv', sep = ';')

,OPERATEUR,FILIERE,Année,Code Commune,Nom Commune,Code EPCI,Nom EPCI,Type EPCI,Code Département,Nom Département,...,Superficie des logements 80 à 100 m2,Superficie des logements >100 m2,Résidences principales avant 1919,Résidences principales de 1919 à 1945,Résidences principales de 1946 à 1970,Résidences principales de 1971 à 1990,Résidences principales de 1991 à 2005,Résidences principales de 2006 à 2015,Résidences principales après 2016,Taux de chauffage électrique
0,Enedis,Electricité,2014,80769,Treux,248000499,CC du Val de Somme,NaN,80,Somme,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Enedis,Electricité,2014,80770,Tully,200070944,CC du Vimeu,NaN,80,Somme,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enedis,Electricité,2014,80773,Vadencourt,200070951,CC du Territoire Nord Picardie,NaN,80,Somme,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Enedis,Electricité,2014,80774,Vaire-sous-Corbie,248000499,CC du Val de Somme,NaN,80,Somme,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Enedis,Electricité,2014,80775,Valines,200070944,CC du Vimeu,NaN,80,Somme,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136816,Enedis,Electricité,2022,2165,Charmes,200071785,CA Chauny-Tergnier-La Fère,CA,2,Aisne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136817,Enedis,Electricité,2022,2165,Charmes,200071785,CA Chauny-Tergnier-La Fère,CA,2,Aisne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136818,Enedis,Electricité,2022,2165,Charmes,200071785,CA Chauny-Tergnier-La Fère,CA,2,Aisne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136819,Enedis,Electricité,2018,2166,Chartèves,200072031,CA de la Région de Château-Thierry,CA,2,Aisne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136820,Enedis,Electricité,2018,2166,Chartèves,200072031,CA de la Région de Château-Thierry,CA,2,Aisne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [172]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136821 entries, 0 to 136820
Data columns (total 47 columns):
 #   Column                                                                      Non-Null Count   Dtype
---  ------                                                                      --------------   -----
 0   OPERATEUR                                                                   136821 non-null  object
 1   FILIERE                                                                     136821 non-null  object
 2   Année                                                                       136821 non-null  int64
 3   Code Commune                                                                136821 non-null  object
 4   Nom Commune                                                                 136812 non-null  object
 5   Code EPCI                                                                   136812 non-null  object
 6   Nom EPCI                                                                    136812 non-null  object
 7   Type EPCI                                                                   59924 non-null   object
 8   Code Département                                                            136821 non-null  object
 9   Nom Département                                                             136821 non-null  object
 10  Code Région                                                                 136821 non-null  int64
 11  Nom Région                                                                  136821 non-null  object
 12  CODE CATEGORIE CONSOMMATION                                                 136821 non-null  object
 13  CODE GRAND SECTEUR                                                          136821 non-null  object
 14  CODE SECTEUR NAF2                                                           34435 non-null   float64
 15  Nb sites                                                                    123619 non-null  float64
 16  Conso totale (MWh)                                                          123619 non-null  float64
 17  Conso moyenne (MWh)                                                         136821 non-null  float64
 18  Nombre de mailles secretisées                                               136821 non-null  int64
 19  Part thermosensible (%)                                                     125708 non-null  float64
 20  Conso totale à usages thermosensibles (MWh)                                 59923 non-null   float64
 21  Conso totale à usages non thermosensibles (MWh)                             59923 non-null   float64
 22  Thermosensibilité totale (kWh DJU)                                          77515 non-null   float64
 23  Conso totale corrigée de l'aléa climatique à usages thermosensibles (MWh)   59923 non-null   float64
 24  Conso moyenne à usages thermosensibles (MWh)                                48822 non-null   float64
 25  Conso moyenne à usages non thermosensibles (MWh)                            59923 non-null   float64
 26  Thermosensibilité moyenne (kWh DJU)                                         125719 non-null  float64
 27  Conso moyenne corrigée de l'aléa climatique à usages thermosensibles (MWh)  48822 non-null   float64
 28  DJU à TR                                                                    618 non-null     float64
 29  DJU à TN                                                                    618 non-null     float64
 30  Nombre d'habitants                                                          38695 non-null   float64
 31  Taux de logements collectifs                                                38695 non-null   float64
 32  Taux de résidences principales                                              38695 non-null   float64
 33  Superficie des logements <30 m2                                             38695 non-null   float64
 34  Superficie des logements 30 à 40 m2                                         38695 non-null   float64
 35  Superficie des logements 40 à 60 m2                                         38695 non-null   float64
 36  Superficie des logements 60 à 80 m2                                         38695 non-null   float64
 37  Superficie des logements 80 à 100 m2                                        38695 non-null   float64
 38  Superficie des logements >100 m2                                            38695 non-null   float64
 39  Résidences principales avant 1919                                           38695 non-null   float64
 40  Résidences principales de 1919 à 1945                                       38695 non-null   float64
 41  Résidences principales de 1946 à 1970                                       38695 non-null   float64
 42  Résidences principales de 1971 à 1990                                       38695 non-null   float64
 43  Résidences principales de 1991 à 2005                                       38695 non-null   float64
 44  Résidences principales de 2006 à 2015                                       38695 non-null   float64
 45  Résidences principales après 2016                                           38695 non-null   float64
 46  Taux de chauffage électrique                                                38695 non-null   float64
dtypes: float64(32), int64(3), object(12)
memory usage: 49.1+ MB

In [173]:
base.describe()

,Année,Code Région,CODE SECTEUR NAF2,Nb sites,Conso totale (MWh),Conso moyenne (MWh),Nombre de mailles secretisées,Part thermosensible (%),Conso totale à usages thermosensibles (MWh),Conso totale à usages non thermosensibles (MWh),...,Superficie des logements 80 à 100 m2,Superficie des logements >100 m2,Résidences principales avant 1919,Résidences principales de 1919 à 1945,Résidences principales de 1946 à 1970,Résidences principales de 1971 à 1990,Résidences principales de 1991 à 2005,Résidences principales de 2006 à 2015,Résidences principales après 2016,Taux de chauffage électrique
count,136821.000000,136821.000000,34435.000000,123619.000000,1.236190e+05,1.368210e+05,136821.000000,125708.000000,5.992300e+04,59923.0,...,38695.000000,38695.000000,38695.000000,38695.000000,38695.000000,38695.000000,38695.000000,38695.000000,38695.000000,38695.000000
mean,2017.884623,56.151103,49.872572,304.290230,5.061326e+03,8.349993e+02,0.095789,1.189162,3.113159e+04,0.0,...,26.011167,43.360932,19.352969,8.579784,15.329755,26.500773,15.718239,12.355292,2.134761,28.180406
std,3.798778,25.963165,27.570325,2848.838104,6.003756e+04,1.907457e+04,0.311789,17.971097,8.109516e+05,0.0,...,6.199030,15.377691,14.562775,6.581742,8.971365,9.474720,6.897035,6.494384,2.610690,12.665340
min,2013.000000,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2014.000000,32.000000,31.000000,1.000000,9.858550e+01,6.346054e+00,0.000000,0.000000,0.000000e+00,0.0,...,22.067585,32.800610,8.151010,4.494380,8.791210,20.565980,10.799770,7.586160,0.372090,18.845940
50%,2015.000000,53.000000,47.000000,4.000000,4.330000e+02,2.498300e+01,0.000000,0.000000,0.000000e+00,0.0,...,26.286980,44.124850,15.847420,7.173550,13.157890,26.341460,15.126050,11.352660,1.369860,27.397260
75%,2023.000000,84.000000,71.000000,80.000000,1.977631e+03,1.352910e+02,0.000000,0.000000,0.000000e+00,0.0,...,30.078835,54.054050,27.152610,10.745940,20.138505,32.000000,20.005790,16.105755,2.923980,36.102720
max,2023.000000,94.000000,99.000000,310261.000000,1.312829e+07,3.426639e+06,7.000000,638.803462,1.202843e+08,0.0,...,54.072750,100.000000,93.243240,78.571430,75.862070,77.669900,62.683810,100.000000,49.827590,82.466870

In [174]:
base.columns

Index(['OPERATEUR', 'FILIERE', 'Année', 'Code Commune', 'Nom Commune',
       'Code EPCI', 'Nom EPCI', 'Type EPCI', 'Code Département',
       'Nom Département', 'Code Région', 'Nom Région',
       'CODE CATEGORIE CONSOMMATION', 'CODE GRAND SECTEUR',
       'CODE SECTEUR NAF2', 'Nb sites', 'Conso totale (MWh)',
       'Conso moyenne (MWh)', 'Nombre de mailles secretisées',
       'Part thermosensible (%)',
       'Conso totale à usages thermosensibles (MWh)',
       'Conso totale à usages non thermosensibles (MWh)',
       'Thermosensibilité totale (kWh DJU)',
       'Conso totale corrigée de l'aléa climatique à usages thermosensibles (MWh)',
       'Conso moyenne à usages thermosensibles (MWh)',
       'Conso moyenne à usages non thermosensibles (MWh)',
       'Thermosensibilité moyenne (kWh DJU)',
       'Conso moyenne corrigée de l'aléa climatique à usages thermosensibles (MWh)',
       'DJU à TR', 'DJU à TN', 'Nombre d'habitants',
       'Taux de logements collectifs', 'Taux de résidences principales',
       'Superficie des logements <30 m2',
       'Superficie des logements 30 à 40 m2',
       'Superficie des logements 40 à 60 m2',
       'Superficie des logements 60 à 80 m2',
       'Superficie des logements 80 à 100 m2',
       'Superficie des logements >100 m2', 'Résidences principales avant 1919',
       'Résidences principales de 1919 à 1945',
       'Résidences principales de 1946 à 1970',
       'Résidences principales de 1971 à 1990',
       'Résidences principales de 1991 à 2005',
       'Résidences principales de 2006 à 2015',
       'Résidences principales après 2016', 'Taux de chauffage électrique'],
      dtype='object')

In [184]:
nouvelle_selection = base[['Nom Commune', 'Code Région','Nom Région']]
nouvelle_selection

              Nom Commune  Code Région       Nom Région
0                   Treux           32  Hauts-de-France
1                   Tully           32  Hauts-de-France
2              Vadencourt           32  Hauts-de-France
3       Vaire-sous-Corbie           32  Hauts-de-France
4                 Valines           32  Hauts-de-France
...                   ...          ...              ...
136816            Charmes           32  Hauts-de-France
136817            Charmes           32  Hauts-de-France
136818            Charmes           32  Hauts-de-France
136819          Chartèves           32  Hauts-de-France
136820          Chartèves           32  Hauts-de-France

[136821 rows x 3 columns]

In [176]:
nouvelle_selection.describe()

         Code Région
count  136821.000000
mean       56.151103
std        25.963165
min         1.000000
25%        32.000000
50%        53.000000
75%        84.000000
max        94.000000

## Donnée de la population

In [186]:
population_ville = pd.read_csv('./data/datapopulation.csv', sep = ';', header=2)
population_ville

        Code                  Libellé     Population municipale 2021
0      01001  L'Abergement-Clémenciat                            832
1      01002    L'Abergement-de-Varey                            267
2      01004        Ambérieu-en-Bugey                          14854
3      01005      Ambérieux-en-Dombes                           1897
4      01006                  Ambléon                            113
...      ...                      ...                            ...
34930  97613            M'Tsangamouji  N/A - résultat non disponible
34931  97614                 Ouangani  N/A - résultat non disponible
34932  97615                 Pamandzi  N/A - résultat non disponible
34933  97616                     Sada  N/A - résultat non disponible
34934  97617                 Tsingoni  N/A - résultat non disponible

[34935 rows x 3 columns]

In [199]:
population = population_ville.rename(columns={
    "Population municipale 2021": "total_population",

})

population

        Code                  Libellé               total_population
0      01001  L'Abergement-Clémenciat                            832
1      01002    L'Abergement-de-Varey                            267
2      01004        Ambérieu-en-Bugey                          14854
3      01005      Ambérieux-en-Dombes                           1897
4      01006                  Ambléon                            113
...      ...                      ...                            ...
34930  97613            M'Tsangamouji  N/A - résultat non disponible
34931  97614                 Ouangani  N/A - résultat non disponible
34932  97615                 Pamandzi  N/A - résultat non disponible
34933  97616                     Sada  N/A - résultat non disponible
34934  97617                 Tsingoni  N/A - résultat non disponible

[34935 rows x 3 columns]

In [200]:
print(population.columns)

Index(['Code', 'Libellé', 'total_population'], dtype='object')

In [204]:
population = population.replace('N/A - résultat non disponible', 'NaN')
population

        Code                  Libellé total_population
0      01001  L'Abergement-Clémenciat              832
1      01002    L'Abergement-de-Varey              267
2      01004        Ambérieu-en-Bugey            14854
3      01005      Ambérieux-en-Dombes             1897
4      01006                  Ambléon              113
...      ...                      ...              ...
34930  97613            M'Tsangamouji              NaN
34931  97614                 Ouangani              NaN
34932  97615                 Pamandzi              NaN
34933  97616                     Sada              NaN
34934  97617                 Tsingoni              NaN

[34935 rows x 3 columns]

In [209]:
population_vil = population.dropna(axis=0, how='any')  # Supprime les lignes avec NaN
population_vil

        Code                  Libellé total_population
0      01001  L'Abergement-Clémenciat              832
1      01002    L'Abergement-de-Varey              267
2      01004        Ambérieu-en-Bugey            14854
3      01005      Ambérieux-en-Dombes             1897
4      01006                  Ambléon              113
...      ...                      ...              ...
34930  97613            M'Tsangamouji              NaN
34931  97614                 Ouangani              NaN
34932  97615                 Pamandzi              NaN
34933  97616                     Sada              NaN
34934  97617                 Tsingoni              NaN

[34935 rows x 3 columns]

In [207]:
population.dropna(axis=1)

        Code                  Libellé total_population
0      01001  L'Abergement-Clémenciat              832
1      01002    L'Abergement-de-Varey              267
2      01004        Ambérieu-en-Bugey            14854
3      01005      Ambérieux-en-Dombes             1897
4      01006                  Ambléon              113
...      ...                      ...              ...
34930  97613            M'Tsangamouji              NaN
34931  97614                 Ouangani              NaN
34932  97615                 Pamandzi              NaN
34933  97616                     Sada              NaN
34934  97617                 Tsingoni              NaN

[34935 rows x 3 columns]

## Exemple de faire une carte vide

In [77]:
#Position [latitude, longitude] sur laquelle est centrée la carte
location = [47, 1]

#Niveau de zoom initial : 
#3-4 pour un continent, 5-6 pour un pays, 11-12 pour une ville
zoom = 6

#Style de la carte
tiles = 'cartodbpositron'

Carte = folium.Map(location = location,
                   zoom_start = zoom,
                   tiles = tiles)


display(Carte)

In [78]:
#Position du marqueur
location = [45.8, 1.2]

#Texte à afficher lorsqu'on clique sur le marqueur
texte = "Limoge est là (à peu près)"

#Création du marqueur
marqueur = folium.Marker(location = location,
                        popup = texte)

#Ajout à la carte
marqueur.add_to(Carte)

display(Carte)