In [1]:
import pandas as pd

1 - OUVERTURE FICHIER COMMERCE

In [2]:

df_commerce = pd.read_csv('./Data/data.csv', sep =";")
print(df_commerce)

/tmp/ipykernel_38068/1583544222.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_commerce = pd.read_csv('./Data/data.csv', sep =";")

                X          Y            osm_id         type  \
0       55.519784 -21.276031  node/11721653361       beauty
1        6.126323  45.898993   node/6851307099      tobacco
2        4.854186  46.781140   node/2249047677        shoes
3        4.575212  44.720957   node/2250990113   restaurant
4        4.675546  45.246532   node/8081393066    insurance
...           ...        ...               ...          ...
659917   1.850903  48.908997   node/9400801794  hairdresser
659918  -3.075557  47.573392   node/6023216120   restaurant
659919  -1.719222  47.224660  node/11685829904       cheese
659920   0.146254  47.972724      way/63576659      clothes
659921   2.314900  48.882990  node/11880709231        shoes

                                 name     brand operator wheelchair  \
0       Gentleman's Art's Hair Design       NaN      NaN        NaN
1                           Le Narval       NaN      NaN        NaN
2                            Mephisto  Mephisto      NaN        yes
3                         Le Minerais       NaN      NaN        NaN
4                              Matmut    Matmut      NaN        NaN
...                               ...       ...      ...        ...
659917                    IB Coiffure       NaN      NaN        NaN
659918              La Poêle à Crêpes       NaN      NaN        yes
659919             La Tome de Couëron       NaN      NaN        NaN
659920                    Stock House       NaN      NaN        NaN
659921                            NaN       NaN      NaN        NaN

                            opening_hours level  ... profession_ref  wikidata  \
0                                     NaN   NaN  ...            NaN       NaN
1                                     NaN   NaN  ...            NaN       NaN
2                                     NaN   NaN  ...            NaN   Q822975
3                                     NaN   NaN  ...            NaN       NaN
4                                     NaN   NaN  ...            NaN  Q3299185
...                                   ...   ...  ...            ...       ...
659917  Tu-Fr 09:00-18:30; Sa 09:00-18:00   NaN  ...            NaN       NaN
659918                                NaN   NaN  ...            NaN       NaN
659919                                NaN   NaN  ...            NaN       NaN
659920                                NaN   NaN  ...            NaN       NaN
659921                                NaN   NaN  ...            NaN       NaN

       website         phone email facebook        address com_insee  \
0          NaN           NaN   NaN      NaN            NaN     97422
1          NaN           NaN   NaN      NaN            NaN     74010
2          NaN           NaN   NaN      NaN            NaN     71076
3          NaN           NaN   NaN      NaN            NaN     07288
4          NaN           NaN   NaN      NaN            NaN     07010
...        ...           ...   ...      ...            ...       ...
659917     NaN  +33130907220   NaN      NaN  5 Rue Parisis     78380
659918     NaN           NaN   NaN      NaN            NaN     56034
659919     NaN           NaN   NaN      NaN            NaN     44047
659920     NaN           NaN   NaN      NaN            NaN     72003
659921     NaN           NaN   NaN      NaN            NaN     75056

                 com_nom last_update
0              Le Tampon  2024-03-12
1                 Annecy  2024-03-17
2       Chalon-sur-Saône  2024-09-27
3           Saint-Priest  2013-04-05
4                Annonay  2020-11-04
...                  ...         ...
659917             Maule  2023-05-20
659918            Carnac  2022-09-02
659919           Couëron  2024-03-02
659920          Allonnes  2011-06-09
659921             Paris  2024-05-05

[659922 rows x 21 columns]

In [3]:

df_commerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 659922 entries, 0 to 659921
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   X               659922 non-null  float64
 1   Y               659922 non-null  float64
 2   osm_id          659922 non-null  object
 3   type            659922 non-null  object
 4   name            607178 non-null  object
 5   brand           142003 non-null  object
 6   operator        55824 non-null   object
 7   wheelchair      92597 non-null   object
 8   opening_hours   224752 non-null  object
 9   level           19681 non-null   object
 10  siret           72571 non-null   object
 11  profession_ref  47662 non-null   object
 12  wikidata        126042 non-null  object
 13  website         150193 non-null  object
 14  phone           202168 non-null  object
 15  email           29916 non-null   object
 16  facebook        23690 non-null   object
 17  address         203308 non-null  object
 18  com_insee       659922 non-null  object
 19  com_nom         659922 non-null  object
 20  last_update     659922 non-null  object
dtypes: float64(2), object(19)
memory usage: 105.7+ MB

In [4]:
df_commerce.columns

Index(['X', 'Y', 'osm_id', 'type', 'name', 'brand', 'operator', 'wheelchair',
       'opening_hours', 'level', 'siret', 'profession_ref', 'wikidata',
       'website', 'phone', 'email', 'facebook', 'address', 'com_insee',
       'com_nom', 'last_update'],
      dtype='object')

In [5]:

df_commerce_dropped = df_commerce.drop(['facebook', 'last_update'], axis=1, inplace=True)
df_commerce_dropped

2 - OUVERTURE FICHIER METADATA

In [6]:


df_metadata = pd.read_csv('./Data/metadata.csv', sep =";")
print(df_metadata)

  COLL_NOM COLL_SIRET                        ID  \
0   France         FR  osm-shop_craft_office-FR

                                 TITRE  \
0  Commerces de France (OpenStreetMap)

                                         DESCRIPTION  \
0  Commerces au sens large issus d'OpenStreetMap ...

                       THEME PRODUCTEUR_NOM  PRODUCTEUR_SIRET  \
0  Entreprise et concurrence  OpenStreetMap               NaN

  COUV_SPAT_MAILLE COUV_SPAT_NOM COUV_TEMP_DEBUT COUV_TEMP_FIN  DATE_PUBL  \
0   Infracommunale        France      2008-01-01    2024-12-01        NaN

     FREQ_MAJ    DATE_MAJ                                         MOTS_CLES  \
0  Ponctuelle  2024-12-01  scdl;entreprise-et-concurrence;commerce;services

                      LICENCE  NOMBRE_RESSOURCES FORMAT_RESSOURCES  \
0  Open Database License-ODBL                  1               csv

                                                 URL
0  https://geodatamine.fr/dump/shop_craft_office_...

In [9]:
df_metadata.columns

Index(['COLL_NOM', 'COLL_SIRET', 'ID', 'TITRE', 'DESCRIPTION', 'THEME',
       'PRODUCTEUR_NOM', 'PRODUCTEUR_SIRET', 'COUV_SPAT_MAILLE',
       'COUV_SPAT_NOM', 'COUV_TEMP_DEBUT', 'COUV_TEMP_FIN', 'DATE_PUBL',
       'FREQ_MAJ', 'DATE_MAJ', 'MOTS_CLES', 'LICENCE', 'NOMBRE_RESSOURCES',
       'FORMAT_RESSOURCES', 'URL'],
      dtype='object')

In [24]:
print(df_metadata['LICENCE'].head(5))

0    Open Database License-ODBL
Name: LICENCE, dtype: object

  Données © les contributeurs d’OpenStreetMap, sous licence Open Database License
0  La licence complète est disponible à cette adr...

In [32]:
df_metadata

,COLL_NOM,COLL_SIRET,ID,TITRE,DESCRIPTION,THEME,PRODUCTEUR_NOM,PRODUCTEUR_SIRET,COUV_SPAT_MAILLE,COUV_SPAT_NOM,COUV_TEMP_DEBUT,COUV_TEMP_FIN,DATE_PUBL,FREQ_MAJ,DATE_MAJ,MOTS_CLES,LICENCE,NOMBRE_RESSOURCES,FORMAT_RESSOURCES,URL
0,France,FR,osm-shop_craft_office-FR,Commerces de France (OpenStreetMap),Commerces au sens large issus d'OpenStreetMap ...,Entreprise et concurrence,OpenStreetMap,NaN,Infracommunale,France,2008-01-01,2024-12-01,NaN,Ponctuelle,2024-12-01,scdl;entreprise-et-concurrence;commerce;services,Open Database License-ODBL,1,csv,https://geodatamine.fr/dump/shop_craft_office_...

In [35]:

df_metadata_cropped = df_metadata.drop(['COUV_TEMP_DEBUT', 'COUV_TEMP_FIN', 'DATE_PUBL', 
                                      'FREQ_MAJ', 'DATE_MAJ', 'MOTS_CLES'], axis=1)
df_metadata_cropped

,COLL_NOM,COLL_SIRET,ID,TITRE,DESCRIPTION,THEME,PRODUCTEUR_NOM,PRODUCTEUR_SIRET,COUV_SPAT_MAILLE,COUV_SPAT_NOM,LICENCE,NOMBRE_RESSOURCES,FORMAT_RESSOURCES,URL
0,France,FR,osm-shop_craft_office-FR,Commerces de France (OpenStreetMap),Commerces au sens large issus d'OpenStreetMap ...,Entreprise et concurrence,OpenStreetMap,NaN,Infracommunale,France,Open Database License-ODBL,1,csv,https://geodatamine.fr/dump/shop_craft_office_...

In [ ]:
3 - OUVERTURE FICHIER LICENCE

In [ ]:
df_license = pd.read_csv('./Data/license.txt', sep =";")
print(df_license)