In [42]:
import pandas as pd 
import numpy as np
import geopandas as gpd
from shapely.geometry import Point
from geopandas import GeoDataFrame
import requests

1 - OUVERTURE FICHIER COMMERCE

In [ ]:

df_commerce = pd.read_csv('./Data/data.csv', sep =";")
print(df_commerce)

/tmp/ipykernel_211564/1583544222.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_commerce = pd.read_csv('./Data/data.csv', sep =";")

                X          Y            osm_id         type  \
0       55.519784 -21.276031  node/11721653361       beauty
1        6.126323  45.898993   node/6851307099      tobacco
2        4.854186  46.781140   node/2249047677        shoes
3        4.575212  44.720957   node/2250990113   restaurant
4        4.675546  45.246532   node/8081393066    insurance
...           ...        ...               ...          ...
659917   1.850903  48.908997   node/9400801794  hairdresser
659918  -3.075557  47.573392   node/6023216120   restaurant
659919  -1.719222  47.224660  node/11685829904       cheese
659920   0.146254  47.972724      way/63576659      clothes
659921   2.314900  48.882990  node/11880709231        shoes

                                 name     brand operator wheelchair  \
0       Gentleman's Art's Hair Design       NaN      NaN        NaN
1                           Le Narval       NaN      NaN        NaN
2                            Mephisto  Mephisto      NaN        yes
3                         Le Minerais       NaN      NaN        NaN
4                              Matmut    Matmut      NaN        NaN
...                               ...       ...      ...        ...
659917                    IB Coiffure       NaN      NaN        NaN
659918              La Poêle à Crêpes       NaN      NaN        yes
659919             La Tome de Couëron       NaN      NaN        NaN
659920                    Stock House       NaN      NaN        NaN
659921                            NaN       NaN      NaN        NaN

                            opening_hours level  ... profession_ref  wikidata  \
0                                     NaN   NaN  ...            NaN       NaN
1                                     NaN   NaN  ...            NaN       NaN
2                                     NaN   NaN  ...            NaN   Q822975
3                                     NaN   NaN  ...            NaN       NaN
4                                     NaN   NaN  ...            NaN  Q3299185
...                                   ...   ...  ...            ...       ...
659917  Tu-Fr 09:00-18:30; Sa 09:00-18:00   NaN  ...            NaN       NaN
659918                                NaN   NaN  ...            NaN       NaN
659919                                NaN   NaN  ...            NaN       NaN
659920                                NaN   NaN  ...            NaN       NaN
659921                                NaN   NaN  ...            NaN       NaN

       website         phone email facebook        address com_insee  \
0          NaN           NaN   NaN      NaN            NaN     97422
1          NaN           NaN   NaN      NaN            NaN     74010
2          NaN           NaN   NaN      NaN            NaN     71076
3          NaN           NaN   NaN      NaN            NaN     07288
4          NaN           NaN   NaN      NaN            NaN     07010
...        ...           ...   ...      ...            ...       ...
659917     NaN  +33130907220   NaN      NaN  5 Rue Parisis     78380
659918     NaN           NaN   NaN      NaN            NaN     56034
659919     NaN           NaN   NaN      NaN            NaN     44047
659920     NaN           NaN   NaN      NaN            NaN     72003
659921     NaN           NaN   NaN      NaN            NaN     75056

                 com_nom last_update
0              Le Tampon  2024-03-12
1                 Annecy  2024-03-17
2       Chalon-sur-Saône  2024-09-27
3           Saint-Priest  2013-04-05
4                Annonay  2020-11-04
...                  ...         ...
659917             Maule  2023-05-20
659918            Carnac  2022-09-02
659919           Couëron  2024-03-02
659920          Allonnes  2011-06-09
659921             Paris  2024-05-05

[659922 rows x 21 columns]

In [ ]:

df_commerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 659922 entries, 0 to 659921
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   X               659922 non-null  float64
 1   Y               659922 non-null  float64
 2   osm_id          659922 non-null  object
 3   type            659922 non-null  object
 4   name            607178 non-null  object
 5   brand           142003 non-null  object
 6   operator        55824 non-null   object
 7   wheelchair      92597 non-null   object
 8   opening_hours   224752 non-null  object
 9   level           19681 non-null   object
 10  siret           72571 non-null   object
 11  profession_ref  47662 non-null   object
 12  wikidata        126042 non-null  object
 13  website         150193 non-null  object
 14  phone           202168 non-null  object
 15  email           29916 non-null   object
 16  facebook        23690 non-null   object
 17  address         203308 non-null  object
 18  com_insee       659922 non-null  object
 19  com_nom         659922 non-null  object
 20  last_update     659922 non-null  object
dtypes: float64(2), object(19)
memory usage: 105.7+ MB

In [ ]:
df_commerce.loc[10]

X                             1.447021
Y                            43.606641
osm_id                 node/2316954259
type                        restaurant
name                  Green sur mesure
brand                              NaN
operator                           NaN
wheelchair                         NaN
opening_hours        Mo-Su 11:00-22:00
level                              NaN
siret                   90014767900014
profession_ref                     NaN
wikidata                           NaN
website                            NaN
phone                              NaN
email                              NaN
facebook                           NaN
address           20 Place Victor Hugo
com_insee                        31555
com_nom                       Toulouse
last_update                 2024-10-29
Name: 10, dtype: object

In [ ]:
df_commerce.columns

Index(['X', 'Y', 'osm_id', 'type', 'name', 'brand', 'operator', 'wheelchair',
       'opening_hours', 'level', 'siret', 'profession_ref', 'wikidata',
       'website', 'phone', 'email', 'facebook', 'address', 'com_insee',
       'com_nom', 'last_update'],
      dtype='object')

In [ ]:

df_commerce_dropped = df_commerce.drop(['facebook', 'last_update'], axis=1, inplace=True)
df_commerce_dropped

2 - OUVERTURE FICHIER METADATA

In [ ]:


df_metadata = pd.read_csv('./Data/metadata.csv', sep =";")
print(df_metadata)

  COLL_NOM COLL_SIRET                        ID  \
0   France         FR  osm-shop_craft_office-FR

                                 TITRE  \
0  Commerces de France (OpenStreetMap)

                                         DESCRIPTION  \
0  Commerces au sens large issus d'OpenStreetMap ...

                       THEME PRODUCTEUR_NOM  PRODUCTEUR_SIRET  \
0  Entreprise et concurrence  OpenStreetMap               NaN

  COUV_SPAT_MAILLE COUV_SPAT_NOM COUV_TEMP_DEBUT COUV_TEMP_FIN  DATE_PUBL  \
0   Infracommunale        France      2008-01-01    2024-12-01        NaN

     FREQ_MAJ    DATE_MAJ                                         MOTS_CLES  \
0  Ponctuelle  2024-12-01  scdl;entreprise-et-concurrence;commerce;services

                      LICENCE  NOMBRE_RESSOURCES FORMAT_RESSOURCES  \
0  Open Database License-ODBL                  1               csv

                                                 URL
0  https://geodatamine.fr/dump/shop_craft_office_...

In [ ]:
df_metadata.columns

Index(['COLL_NOM', 'COLL_SIRET', 'ID', 'TITRE', 'DESCRIPTION', 'THEME',
       'PRODUCTEUR_NOM', 'PRODUCTEUR_SIRET', 'COUV_SPAT_MAILLE',
       'COUV_SPAT_NOM', 'COUV_TEMP_DEBUT', 'COUV_TEMP_FIN', 'DATE_PUBL',
       'FREQ_MAJ', 'DATE_MAJ', 'MOTS_CLES', 'LICENCE', 'NOMBRE_RESSOURCES',
       'FORMAT_RESSOURCES', 'URL'],
      dtype='object')

In [ ]:
df_metadata['LICENCE'].head(5)

0    Open Database License-ODBL
Name: LICENCE, dtype: object

In [ ]:
df_metadata

,COLL_NOM,COLL_SIRET,ID,TITRE,DESCRIPTION,THEME,PRODUCTEUR_NOM,PRODUCTEUR_SIRET,COUV_SPAT_MAILLE,COUV_SPAT_NOM,COUV_TEMP_DEBUT,COUV_TEMP_FIN,DATE_PUBL,FREQ_MAJ,DATE_MAJ,MOTS_CLES,LICENCE,NOMBRE_RESSOURCES,FORMAT_RESSOURCES,URL
0,France,FR,osm-shop_craft_office-FR,Commerces de France (OpenStreetMap),Commerces au sens large issus d'OpenStreetMap ...,Entreprise et concurrence,OpenStreetMap,NaN,Infracommunale,France,2008-01-01,2024-12-01,NaN,Ponctuelle,2024-12-01,scdl;entreprise-et-concurrence;commerce;services,Open Database License-ODBL,1,csv,https://geodatamine.fr/dump/shop_craft_office_...

In [ ]:

df_metadata_cropped = df_metadata.drop(['COUV_TEMP_DEBUT', 'COUV_TEMP_FIN', 'DATE_PUBL', 
                                      'FREQ_MAJ', 'DATE_MAJ', 'MOTS_CLES'], axis=1)
df_metadata_cropped

,COLL_NOM,COLL_SIRET,ID,TITRE,DESCRIPTION,THEME,PRODUCTEUR_NOM,PRODUCTEUR_SIRET,COUV_SPAT_MAILLE,COUV_SPAT_NOM,LICENCE,NOMBRE_RESSOURCES,FORMAT_RESSOURCES,URL
0,France,FR,osm-shop_craft_office-FR,Commerces de France (OpenStreetMap),Commerces au sens large issus d'OpenStreetMap ...,Entreprise et concurrence,OpenStreetMap,NaN,Infracommunale,France,Open Database License-ODBL,1,csv,https://geodatamine.fr/dump/shop_craft_office_...

3 - OUVERTURE FICHIER LICENCE

In [ ]:
df_license = pd.read_csv('./Data/license.txt', sep =";")
print(df_license)

  Données © les contributeurs d’OpenStreetMap, sous licence Open Database License
0  La licence complète est disponible à cette adr...

In [ ]:
df_lieu_equip_cult = pd.read_csv('./Data/base-des-lieux-et-des-equipements-culturels.csv', sep =";")
df_lieu_equip_cult

/tmp/ipykernel_211564/860819953.py:1: DtypeWarning: Columns (14,22,23,30,33,34,41,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  df_lieu_equip_cult = pd.read_csv('./Data/base-des-lieux-et-des-equipements-culturels.csv', sep =";")

,Source,Nom,Adresse,Complement Adresse,Code Postal,libelle_geographique,code_insee,Code Insee Arrondt,Identifiant origine,Type équipement ou lieu,...,Annee_Label_Appellation,Latitude,Longitude,Demographie_AP,Demographie_detail_entree,Démographie_detail_sortie,Multi_equipements,identifiant_QPV_24,identifiant_QPV_15,coordonnees_geo
0,Ministère de la Culture - Service du livre et ...,Médiathèque de COMMENSACQ,200 ROUTE DE TRENSACQ,NaN,40210.0,Commensacq,40085,402,LI14040,Bibliothèque,...,NaN,44.2106959785251,-0.822885,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"44.2106959785251, -0.822884754184157"
1,Ministère de la Culture - Service du livre et ...,Bibliothèque MUNICIPALE de CREON-D'ARMAGNAC,"12, Rue Raoul Follereau",NaN,40240.0,Créon-d'Armagnac,40087,402,LI7880,Bibliothèque,...,NaN,43.993868098598,-0.105588,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"43.993868098598, -0.105588386166206"
2,Ministère de la Culture - Service du livre et ...,Bibliothèque de GELOUX,2 PLACE DE LA MAIRIE,NaN,40090.0,Geloux,40111,402,LI7888,Bibliothèque,...,NaN,43.9810194468607,-0.638823,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"43.9810194468607, -0.638822931528512"
3,Ministère de la Culture - Service du livre et ...,Médiathèque CHALOSSE TURSAN HAGETMAU,4 PLACE GRAMONT,NaN,40700.0,Hagetmau,40119,402,LI1734,Bibliothèque,...,NaN,43.6573228675739,-0.593452,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"43.6573228675739, -0.593452338732522"
4,Ministère de la Culture - Service du livre et ...,Médiathèque de HINX,100 ROUTE DE DAX,NaN,40180.0,Hinx,40126,401,LI7894,Bibliothèque,...,NaN,43.701671909797,-0.927995,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"43.701671909797, -0.927995381193468"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73786,Centre national du cinéma et de l'image animée,Espace Jules Verne,rue Jean Meunier,NaN,42660.0,Saint-Genest-Malifaux,42224,423,CINEMA386792,Cinéma,...,NaN,45.339677,4.414193,Actif,historiquement dans la base en 2020 ; actif en...,NaN,NaN,NaN,NaN,"45.3396772108575, 4.41419329795429"
73787,Centre national du cinéma et de l'image animée,Eden 3,place De La Gare,NaN,44150.0,Ancenis-Saint-Géréon,44003,445,CINEMA17803,Cinéma,...,NaN,47.364116,-1.178442,Actif,historiquement dans la base en 2020 ; actif en...,NaN,NaN,NaN,NaN,"47.364116, -1.178442"
73788,Centre national du cinéma et de l'image animée,L Odeon,7 place De L Eglise,NaN,44290.0,Guémené-Penfao,44067,445,CINEMA187191,Cinéma,...,NaN,47.630072,-1.832224,Actif,historiquement dans la base en 2020 ; actif en...,NaN,NaN,NaN,NaN,"47.6300724547455, -1.8322240424309"
73789,Centre national du cinéma et de l'image animée,Cinema St Michel,place Du General Charette,NaN,44650.0,Legé,44081,442,CINEMA221971,Cinéma,...,NaN,46.884992,-1.598342,Actif,historiquement dans la base en 2020 ; actif en...,NaN,NaN,NaN,NaN,"46.8849920463362, -1.59834249755653"
73790,Centre national du cinéma et de l'image animée,Le Cinematographe,12 Bis rue Des Carmelites,NaN,44300.0,Nantes,44109,442,CINEMA284747,Cinéma,...,NaN,47.216794,-1.551526,Actif,historiquement dans la base en 2020 ; actif en...,NaN,NaN,NaN,NaN,"47.2167941498698, -1.55152591410262"

4- OUVERTURE FICHIER EQUIPEMENT CULTUREL

In [ ]:
df_lieu_equip_cult.iloc[:,10].unique()

array([nan, 'Centre d’art contemporain d’intérêt national',
       'Centre chorégraphique national',
       'Centre de développement chorégaphique national',
       'Centre dramatique national', 'Art et essai',
       'Architecture contemporaine remarquable',
       'Centre national des arts de la rue et de l’espace public',
       'Centre national de création musicale',
       "Fonds régional d'art contemporain", 'Jardin remarquable',
       'LIR - Librairie indépendante de référence',
       'LR - Librairie de référence', 'Maison des illustres',
       'Microfolie', 'Monument national', 'Musée national',
       'Monument historique', 'Musée de France', 'Opéra national',
       'Opéra national en région', 'Pôle national cirque',
       'Centre culturel de rencontre',
       'Scène conventionnée d’intérêt national', 'Scène nationale',
       'Scène de musiques actuelles', 'Théâtre hors label',
       'Théâtre national', 'Théâtre privé', 'Théâtre de ville',
       "Théatre lyrique d'intérêt national",
       "Patrimoine mondial de l'Unesco", 'Zénith',
       'Site patrimonial remarquable',
       'Centre national de la marionnette',
       'Orchestre national en région', 'Itinéraire culturel européen',
       'Compagnie avec lieu', 'Etablissement public national'],
      dtype=object)

5-OUVERTURE FICHIER POPULATION

In [ ]:
df_population= pd.read_csv('./Data/datapopulation.csv', sep =";", header = 2)
df_population

        Code                  Libellé     Population municipale 2021
0      01001  L'Abergement-Clémenciat                            832
1      01002    L'Abergement-de-Varey                            267
2      01004        Ambérieu-en-Bugey                          14854
3      01005      Ambérieux-en-Dombes                           1897
4      01006                  Ambléon                            113
...      ...                      ...                            ...
34930  97613            M'Tsangamouji  N/A - résultat non disponible
34931  97614                 Ouangani  N/A - résultat non disponible
34932  97615                 Pamandzi  N/A - résultat non disponible
34933  97616                     Sada  N/A - résultat non disponible
34934  97617                 Tsingoni  N/A - résultat non disponible

[34935 rows x 3 columns]

In [ ]:
df_population.isna().sum()

Code                          0
Libellé                       0
Population municipale 2021    0
dtype: int64

In [ ]:
df_population['Population municipale 2021'].value_counts()['N/A - résultat non disponible']

20

In [ ]:
len(df_population['Population municipale 2021'])

34935

In [ ]:
df_population['Population municipale 2021'] = df_population['Population municipale 2021'].map(lambda x : 0 if x == 'N/A - résultat non disponible' else x)

In [ ]:
'N/A - résultat non disponible'

'N/A - résultat non disponible'

In [ ]:
df_population['Population municipale 2021']

0          832
1          267
2        14854
3         1897
4          113
         ...
34930        0
34931        0
34932        0
34933        0
34934        0
Name: Population municipale 2021, Length: 34935, dtype: object

5/ CRÉE NOUVEAU DATAFRAME pour villes fdont population supérieur > 20 000 habitants et < 20 000 habitants

In [ ]:
df_population

        Code                  Libellé Population municipale 2021
0      01001  L'Abergement-Clémenciat                        832
1      01002    L'Abergement-de-Varey                        267
2      01004        Ambérieu-en-Bugey                      14854
3      01005      Ambérieux-en-Dombes                       1897
4      01006                  Ambléon                        113
...      ...                      ...                        ...
34930  97613            M'Tsangamouji                          0
34931  97614                 Ouangani                          0
34932  97615                 Pamandzi                          0
34933  97616                     Sada                          0
34934  97617                 Tsingoni                          0

[34935 rows x 3 columns]

In [ ]:
df_population_integrer = df_population['Population municipale 2021'].astype(int)
df_population_integrer

0          832
1          267
2        14854
3         1897
4          113
         ...
34930        0
34931        0
34932        0
34933        0
34934        0
Name: Population municipale 2021, Length: 34935, dtype: int64

In [ ]:
df_grandes_villes = df_population_integrer[df_population_integrer > 20000]
df_grandes_villes

47        41525
239       22277
781       24021
1053      52958
1081      28705
          ...
34908    105240
34909     84077
34911     34344
34913     24293
34915     81943
Name: Population municipale 2021, Length: 481, dtype: int64

In [ ]:
df_grandes_villes = df_population_integrer[df_population_integrer < 20000]
df_grandes_villes

0          832
1          267
2        14854
3         1897
4          113
         ...
34930        0
34931        0
34932        0
34933        0
34934        0
Name: Population municipale 2021, Length: 34454, dtype: int64

In [ ]:
df_petites_villes = [df_population_integrer < 20000]
type(df_petites_villes)

list

Recupérer les code postaux

In [65]:

df_geopoints = pd.read_csv('./Data/cities.csv', sep =",")
print(df_geopoints)

      insee_code            city_code  zip_code                label  \
0          25620        ville du pont     25650        ville du pont
1          25624       villers grelot     25640       villers grelot
2          25615  villars les blamont     25310  villars les blamont
3          25619        les villedieu     25240        les villedieu
4          25622        villers buzon     25170        villers buzon
...          ...                  ...       ...                  ...
39140      98829                 thio     98829                 thio
39141      98831                  voh     98833                  voh
39142      98832                 yate     98834                 yate
39143      98612               sigave     98620               sigave
39144      98613                 uvea     98600                 uvea

        latitude   longitude     department_name department_number  \
0      46.999873    6.498147               doubs                25
1      47.361512    6.235167               doubs                25
2      47.368384    6.871415               doubs                25
3      46.713906    6.265831               doubs                25
4      47.228558    5.852187               doubs                25
...          ...         ...                 ...               ...
39140        NaN         NaN  nouvelle-calédonie               988
39141        NaN         NaN  nouvelle-calédonie               988
39142        NaN         NaN  nouvelle-calédonie               988
39143 -14.270411 -178.155263    wallis-et-futuna               986
39144 -13.281863 -176.161928    wallis-et-futuna               986

                   region_name      region_geojson_name
0      bourgogne-franche-comté  Bourgogne-Franche-Comté
1      bourgogne-franche-comté  Bourgogne-Franche-Comté
2      bourgogne-franche-comté  Bourgogne-Franche-Comté
3      bourgogne-franche-comté  Bourgogne-Franche-Comté
4      bourgogne-franche-comté  Bourgogne-Franche-Comté
...                        ...                      ...
39140       nouvelle-calédonie       Nouvelle Calédonie
39141       nouvelle-calédonie       Nouvelle Calédonie
39142       nouvelle-calédonie       Nouvelle Calédonie
39143         wallis-et-futuna         Wallis-et-Futuna
39144         wallis-et-futuna         Wallis-et-Futuna

[39145 rows x 10 columns]

In [66]:
df_geopoints.info

<bound method DataFrame.info of       insee_code            city_code  zip_code                label  \
0          25620        ville du pont     25650        ville du pont
1          25624       villers grelot     25640       villers grelot
2          25615  villars les blamont     25310  villars les blamont
3          25619        les villedieu     25240        les villedieu
4          25622        villers buzon     25170        villers buzon
...          ...                  ...       ...                  ...
39140      98829                 thio     98829                 thio
39141      98831                  voh     98833                  voh
39142      98832                 yate     98834                 yate
39143      98612               sigave     98620               sigave
39144      98613                 uvea     98600                 uvea

        latitude   longitude     department_name department_number  \
0      46.999873    6.498147               doubs                25
1      47.361512    6.235167               doubs                25
2      47.368384    6.871415               doubs                25
3      46.713906    6.265831               doubs                25
4      47.228558    5.852187               doubs                25
...          ...         ...                 ...               ...
39140        NaN         NaN  nouvelle-calédonie               988
39141        NaN         NaN  nouvelle-calédonie               988
39142        NaN         NaN  nouvelle-calédonie               988
39143 -14.270411 -178.155263    wallis-et-futuna               986
39144 -13.281863 -176.161928    wallis-et-futuna               986

                   region_name      region_geojson_name
0      bourgogne-franche-comté  Bourgogne-Franche-Comté
1      bourgogne-franche-comté  Bourgogne-Franche-Comté
2      bourgogne-franche-comté  Bourgogne-Franche-Comté
3      bourgogne-franche-comté  Bourgogne-Franche-Comté
4      bourgogne-franche-comté  Bourgogne-Franche-Comté
...                        ...                      ...
39140       nouvelle-calédonie       Nouvelle Calédonie
39141       nouvelle-calédonie       Nouvelle Calédonie
39142       nouvelle-calédonie       Nouvelle Calédonie
39143         wallis-et-futuna         Wallis-et-Futuna
39144         wallis-et-futuna         Wallis-et-Futuna

[39145 rows x 10 columns]>

In [47]:
df_geopoints.columns

Index(['insee_code,city_code,zip_code,label,latitude,longitude,department_name,department_number,region_name,region_geojson_name'], dtype='object')

In [77]:
df_selected = df_geopoints[['zip_code','label','latitude','longitude']]
df_selected.head(5)

   zip_code                label   latitude  longitude
0     25650        ville du pont  46.999873   6.498147
1     25640       villers grelot  47.361512   6.235167
2     25310  villars les blamont  47.368384   6.871415
3     25240        les villedieu  46.713906   6.265831
4     25170        villers buzon  47.228558   5.852187

Essaie de l'API

In [43]:

commune_codepost = {}

for ville in liste_commune:

    url = f'https://geo.api.gouv.fr/communes?nom={ville}'
    code_poste = requests.get(url)

# Vérifier si la requête a réussi (statut 200)
    if code_poste.status_code == 200:
        # print ('ok')

        liste_code = code_poste.json() #recupere dico
        
     
        code_postal = liste_code[0]['codesPostaux']
        commune_codepost[ville] = code_postal[0]

In [44]:
commune_codepost

{'Meylan': '38240',
 'Echirolles': '38130',
 'Champ sur Drac': '38560',
 'Domène': '38420',
 "Saint Martin d'Hères": '38400',
 'Eybens': '38320',
 'Vizille': '38220',
 'Venon': '27110',
 'Gières': '38610',
 'Claix': '16440',
 'Seyssinet Pariset': '38170',
 'Poisat': '38320',
 'Saint Barthélémy de Séchilienne': '38220',
 'Fontaine': '39140',
 'Varces Allières et Risset': '38760',
 'Saint Georges de Commiers': '38450',
 'Saint Pierre de Mésage': '38220',
 'Séchilienne': '38220',
 'Vaulnaveys le Bas': '38410',
 'Le Gua': '17600',
 'Le Pont de Claix': '38800',
 'Miribel Lanchâtre': '38450',
 'La Tronche': '38700',
 'Fontanil Cornillon': '38120',
 'Saint Paul de Varces': '38760',
 'Jarrie': '73300',
 'Vaulnaveys le Haut': '38410',
 'Le Sappey en Chartreuse': '38700',
 'Notre Dame de Mésage': '38220',
 'Champagnier': '38800',
 'Vif': '38450',
 'Corenc': '38700',
 'Murianette': '38420',
 'Saint Martin Le Vinoux': '38950',
 'Saint Egrève': '38120',
 'Grenoble': '38000',
 'Sarcenas': '38700',
 'Notre Dame de Commiers': '38450',
 'Noyarey': '38360',
 'Seyssins': '38180',
 'Brié et Angonnes': '38320',
 'Sassenage': '38360',
 'Bresson': '38320',
 'Herbeys': '38320',
 'Proveysieux': '38120',
 'Quaix en Chartreuse': '38950',
 'Veurey': '38113',
 'Montchaboud': '38220'}

In [ ]:
from numpy import random  # listes de nombres aléatoires
import matplotlib.pyplot as plt  # graphiques
import geopandas as gpd  # gestion de données carto
from pandas import concat  # concaténer les DataFrames.

In [ ]:
import pandas as pd

import matplotlib.pyplot as plt
import pgeocode 

import geopandas as gpd
from shapely.geometry import Point
from geopandas import GeoDataFrame

In [ ]:

nomi = pgeocode.Nominatim(country='fr')

edf = pd.read_csv('./Data/datapopulation.csv', sep='\t',header=2, index_col=False ,names=['Code','Libellé','Population municipale 2021'])
edf['Latitude'] = (nomi.query_postal_code(df_population_supérieure20000['Code'].tolist()).latitude)
edf['Longitude'] = (nomi.query_postal_code((df_population_supérieure20000['Code'].tolist()).longitude))
edf

In [ ]:

fig = go.Figure(data=go.Scattergeo(
        lon = edf['Longitude'],
        lat = edf['Latitude'],
        text = edf['colC'],
        mode = 'markers',
        marker_color = edf['count'],

In [ ]:
        ))

fig.update_layout(
        title = 'colC Distribution',
        geo_scope='usa',

In [ ]:
    )
fig.show()

In [ ]:
codepostal = [df_population['Code']]
codepostal

In [ ]:
def get_geolocation(postcode):
    try:
        location = geolocator.geocode(f"{postcode}, France")
        if location:
            return location.latitude, location.longitude
        else:
            return None, None
    except Exception as e:
        print(f"Error geocoding postcode {postcode}: {e}")
        return None, None

In [ ]:
df_population['Latitude'], df_population['Longitude'] = zip(*df_population['Code'].apply(get_geolocation))

In [ ]:
px.chroropleth_mapbox(data_framce = df_population
                      geojson =departements
                      location = codepostal)

In [ ]:
fig = px.choropleth_mapbox(df_population,
                            geojson=departements.geometry.__geo_interface__,
                            locations='codepostal',  # This should be the column in your dataframe
                            color='Population municipale 2021',  # Column you want to use for coloring
                            color_continuous_scale="Viridis",  # Color scale
                            mapbox_style="carto-positron",  # Use a Mapbox style, or "open-street-map" if you don't have Mapbox access
                            title="Population Municipale en 2021",
                            hover_name='Nom des communes')  # Add a hover f